<%- include("partials/header"); -%>

<body>
  <h1 class="title"><%= playerName %></h1>

  <div id="playingCard" class="flip-card">
  <div class="flip-card-inner">
    <img class="blink-image" src="/images/cards/click.png">
    <div class="flip-card-front">
      <img class="card" src="/images/cards/back2.jpg" alt="Avatar" style="width:980px;height:1400px;">
    </div>
    <div class="flip-card-back">
      <img class="card" src="/images/cards/<%= card %>.png" alt="Avatar" style="width:980px;height:1400px;">
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-2">
      <form action="<%= groupURL %>" method="get">
        <button type="submit" class="btn btn-dark btn-sm btn-play-again">Play Again</button>
      </form>
      <form action="/" method="get">
        <button type="submit" class="btn btn-dark btn-sm btn-new-game">Start A New Game</button>
      </form>
    </div>
  </div>
</body>
</html>
