<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>You Are <%= card %>!</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <img class="card" src="public/images/cards/blacks/clubs_A.png" alt="You Are Black!">
  </body>
</html>
