<%- include("partials/header"); -%>

  <body>
    <h1 class="load-title"><%= playerName %>, please wait for other players</h1>
    <img class="load-pic" src="/images/loading.gif" alt="load">
    <h3 class="load-title load-h3">Click play when everybody is ready:</h3>
    <button class="btn btn-dark my-2 my-sm-0 btn-load" type="submit" onClick="window.location.reload();">Play!</button>
  </body>
</html>
