<%- include("partials/header"); -%>

  <body>
    <h1 class="title">BLACK OR RED?</h1>
    <nav class="play-form navbar navbar-light">
      <form class="form-inline" method="post">
        <input
        id="name"
        class="form-control mr-sm-2"
        type="text"
        name="playerName"
        placeholder="Enter Your Name"
        aria-label="Search"
        pattern="[A-Za-z]{1,10}"
        title="Player name should only contain English letters."
      >
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Play!</button>
      </form>
      <a class="whatsapp-share" href="whatsapp://send?text=<%= url %>"><i class="fab fa-whatsapp"></i>  Invite Your Friends!</a>
    </nav>
  </body>
</html>
